cdsapi
xarray
netCDF4
h5netcdf
pandas
python-dotenv
rioxarray
tqdm
earthengine-api
dask
zarr
pyresample
scipy
rasterio
pyhdf
torch
matplotlib
gluonts 
transformers 
accelerate
uni2ts @ git+https://github.com/SalesforceAIResearch/uni2ts.git
planetary_computer
rasterio